customer.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:complexType name="AddressType">
		<xs:sequence>
			<xs:element name="Line1" type="xs:string" />
			<xs:element name="Line2" type="xs:string" />
		</xs:sequence>
	</xs:complexType>
	<xs:element name="Customer">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="Dob" type="xs:string" />
				<xs:element name="Address" type="AddressType" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>